@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$primary-color: #1D1D1D;
$secondary-color: #171717;
$text-white-color: #fff;
$text-light-color: #CCC;
$text-link-color: #428bca;
$green-color: #6AC045;
$font-arimo: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
$thin-font: 400;
$bold-font: 700;