@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $text-white-color;
    font-family: $font-arimo;
    background: url(https://img.yts.mx/assets/images/movies/better_nate_than_ever_2022/background.jpg) no-repeat center center/cover;
}

// .container {
//     width: 100%;
//     height: 100%;
//     background: url(https://img.yts.mx/assets/images/movies/better_nate_than_ever_2022/background.jpg) no-repeat center center/cover;
//     z-index: -1;
//     opacity: 0.4;
// }

nav {
    height: 6vh;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-light-color;


    .left {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        a {
            margin-left: 46px;
        }

        h2 {
            font-weight: $thin-font;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            a {
                color: $text-light-color;
                text-decoration: none;
                padding: 0 1rem;
            }
        }
    }
}

header {
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
        height: 40%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1 {
            margin: 2rem;
        }
    }

    .popular {
        height: 60%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        // grid-template-columns: repeat(4 1fr);

        a {
            width: 210px;
            height: 315px;
            border: 4px $text-white-color solid;
            border-radius: 5px;
        }

        a:first-child {
            background: url(https://img.yts.mx/assets/images/movies/alice_2022/medium-cover.jpg) no-repeat center center/cover;
        }

        a:nth-child(2) {
            background: url(https://img.yts.mx/assets/images/movies/better_nate_than_ever_2022/medium-cover.jpg) no-repeat center center/cover;
        }

        a:nth-child(3) {
            background: url(https://img.yts.mx/assets/images/movies/the_bubble_2022/medium-cover.jpg) no-repeat center center/cover;
        }

        a:nth-child(4) {
            background: url(https://img.yts.mx/assets/images/movies/life_and_death_in_the_warehouse_2022/medium-cover.jpg) no-repeat center center/cover;
        }
    }
}
